<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
<script>
    $(function () {
        var dateFormat = "dd/mm/yy",
            from = $("#from")
                .datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1,
                    dateFormat: dateFormat
                })
                .on("change", function () {
                    to.datepicker("option", "minDate", getDate(this));
                }),
            to = $("#to").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1,
                dateFormat: dateFormat
            })
                .on("change", function () {
                    from.datepicker("option", "maxDate", getDate(this));
                });

        function getDate(element) {
            var date;
            try {
                date = $.datepicker.parseDate(dateFormat, element.value);
            } catch (error) {
                date = null;
            }

            return date;
        }
    });
</script>

<h3>Search By Keyword</h3>
<form method="get" asp-controller="demo4" asp-action="searchByKeyWord">
    Keyword: <input type="text" name="keyword" value="@ViewBag.keywords" />
    <button type="submit">Search</button>
</form>

<h3>Search By Prices</h3>
<form method="get" asp-controller="demo4" asp-action="searchByPrices">
    Min: <input type="text" name="min" />
    <br />
    Max: <input type="text" name="max" />
    <br />
    <button type="submit">Search</button>
</form>

<h3>Search By Dates</h3>
<form method="post" asp-controller="demo4" asp-action="searchByDate">
    From: <input type="text" name="from" id="from" />
    <br />
    To: <input type="text" name="to" id="to" />
    <br />
    <button type="submit">Search</button>

</form>

<h3>Product List</h3>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Creation</th>
        <th>Photo</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    @foreach (var p in @ViewBag.products)
    {
        <tr>
            <td>@p.Id</td>
            <td>
                <a asp-controller="demo4" asp-action="details" asp-route-id="@p.Id">@p.Name</a>
            </td>
            <td>@p.Creation.ToString("dd/MM/yyyy")</td>
            <td>
                <a asp-controller="demo4" asp-action="details" asp-route-id="@p.Id">
                    <img src="~/images/@p.Photo" width="100" height="100" />
                </a>
            </td>
            <td>@p.Price</td>
            <td>@p.Quantity</td>
        </tr>
    }
</table>

